@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #00bcd1;
  --accent-color: #3cb0d7;
  --gradient-color: #33d1e7;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  width: 100%;
  min-width: 330px;
}

.background-gradient {
  background: linear-gradient(
    140deg,
    var(--primary-color) 0%,
    var(--primary-color) 45%,
    var(--gradient-color) 80%
  );
}

.text-gradient {
  background: var(--primary-color);
  background: linear-gradient(
    to bottom right,
    var(--primary-color) 40%,
    var(--gradient-color) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glow {
  box-shadow: 0 0 86px 4px rgba(255, 255, 255, 0.3);
  z-index: 10;
  position: relative;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(var(--accent-color), var(--accent-color));
  background-size: 0 2px;
  background-position: 0 98%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0 98%;
}

.animate-monitor-self-1 {
  position: absolute;
  left: -1000px;
  -webkit-animation: slide 8s forwards 1.2s infinite;
  animation: slide 8s forwards 1.2s infinite;
}

.animate-monitor-self-2 {
  position: absolute;
  left: -1000px;
  -webkit-animation: slide 8s forwards 1.8s infinite;
  animation: slide 8s forwards 1.8s infinite;
}

.animate-monitor-self-3 {
  position: absolute;
  left: -1000px;
  -webkit-animation: slide 8s forwards 2.4s infinite;
  animation: slide 8s forwards 2.4s infinite;
}

.animate-monitor > * {
  position: absolute;
  left: -1000px;
  -webkit-animation: slide 8s forwards 0.6s infinite;
  animation: slide 8s forwards 0.6s infinite;
}

@-webkit-keyframes slide {
  100% {
    left: -1000px;
    opacity: 0;
  }
  70% {
    left: 0;
    opacity: 1;
  }
  10% {
    left: 0;
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

@keyframes slide {
  100% {
    left: -1000px;
    opacity: 0;
  }
  70% {
    left: 0;
    opacity: 1;
  }
  10% {
    left: 0;
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

.animate-underscore {
  animation: hidden 1.6s infinite;
}

@keyframes hidden {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.card {
  position: relative;
  overflow: hidden;
  transition: shadow 0.5s ease-in-out;
}

.card:hover:before {
  background-position: 100% 100%;
}

.card:before {
  background: linear-gradient(
    130deg,
    transparent 33%,
    #5eead4 66%,
    #93c5fd 85%,
    #c084fc 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: '';
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 300ms ease, transform 100ms ease;
  width: 100%;
}
