@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  width: 100%;
  min-width: 330px;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(#73787d, #73787d);
  background-size: 0 2px;
  background-position: 0 96%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0 96%;
}

.animate-monitor-self-1 {
  position: absolute;
  left: -1000px;
  -webkit-animation: slide 8s forwards 1.2s infinite;
  animation: slide 8s forwards 1.2s infinite;
}

.animate-monitor-self-2 {
  position: absolute;
  left: -1000px;
  -webkit-animation: slide 8s forwards 1.8s infinite;
  animation: slide 8s forwards 1.8s infinite;
}

.animate-monitor-self-3 {
  position: absolute;
  left: -1000px;
  -webkit-animation: slide 8s forwards 2.4s infinite;
  animation: slide 8s forwards 2.4s infinite;
}

.animate-monitor > * {
  position: absolute;
  left: -1000px;
  -webkit-animation: slide 8s forwards 0.6s infinite;
  animation: slide 8s forwards 0.6s infinite;
}

@-webkit-keyframes slide {
  100% {
    left: -1000px;
    opacity: 0;
  }
  70% {
    left: 0;
    opacity: 1;
  }
  10% {
    left: 0;
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

@keyframes slide {
  100% {
    left: -1000px;
    opacity: 0;
  }
  70% {
    left: 0;
    opacity: 1;
  }
  10% {
    left: 0;
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

.animate-underscore {
  animation: hidden 1.6s infinite;
}

@keyframes hidden {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

:root {
  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
  --g3: rgb(253, 216, 53);
}

.card {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.card:hover:before {
  background-position: 100% 100%;
}

.card:before {
  background: linear-gradient(
    130deg,
    transparent 0% 33%,
    var(--g1) 66%,
    var(--g2) 85%,
    var(--g3) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: '';
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 0;
}

.card-content {
  position: relative;
  transition: background-position 350ms ease;
  z-index: 2;
}

.hover-zoom:hover {
  animation: zoomIn 0.2s ease-in-out forwards;
}

.hover-zoom {
  animation: zoomOut 0.2s ease-in-out forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
